.title {
    background-color: aqua;
    float: left;
    border: solid;
}

.DivForTable {
    border: solid;
    max-height: 500px;
    overflow: scroll;
    background-color: antiquewhite;
}

.LableForInput {
    float: left;
}

.btnsDiv {
    text-align: right;
}

.divForInputValue {
    text-align: right;
}

div {
    margin: 5px 5px;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

TD, TH {
    padding: 3px;
    border: 1px solid black;
}

TH {
    background: #b0e0e6;
}

table caption {
    font-size: 23px;
}

.mainCarDiv, .mainGarageDiv, .mainOwnerDiv, .result {
    clear: both;
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
}

.result {
    flex: 1;
}

.mainDiv {
    width: 100%;
    display: grid;
}

body {
    background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);
}